@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: darkblue;
    --secondary-color: orange;
    --card-bg-color: #f8f9fa;
    --text-color: #333;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 15px;
}

.logo-container i {
    font-size: 3rem;
}

.logo-container small {
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    transform-origin: center;

}

nav a:hover {
    color: rgba(233, 115, 115, 0.8);
    font-size: 20px;
    transform: scale(1.5);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 80px;

}

header button {
    background-color: rgb(255, 121, 0);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 15px;
}

header button:hover {
    background-color: aqua;
    color: blueviolet;
    padding: 7px 20px;
}

.title {
    text-align: center;
    margin: 20px 0;
    color: var(--primary-color);
}

.title h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.title p {
    font-size: 20px;
    margin-bottom: 20px;
}

.tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.tabs {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #c2bcbc;
    border-radius: 7px;
    padding: 10px;
}

.tab {
    background-color: #c2bcbc;
    color: rgb(9, 64, 128);
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.tab:hover {
    background-color: var(--primary-color);
    color: white;
    transform: scale(120%, 120%);
}

.card-container {
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 15px;
}

.course-card {
    width: calc((100% - (15px * 3)) /4);
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: rgb(186, 171, 201);
    transition: 0.5s ease-in;
}

.course-card:hover {
    background-color: #c2f087;
    transform: scale(1.02);
}

.image-container {
    width: 100%;
    position: relative;
}

.image-container i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.image-container img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 180px;
    object-fit: fill;
    background-color: black;
}

.content {
    padding: 10px;
}

.label-heart,
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-heart small {
    background-color: rgb(161, 98, 204);
    padding: 4px 6px;
    border-radius: 10px;
    color: wheat;
}
.label-heart i{
    margin-right: 10px;
}

.label-heart .beginner{
    background-color: lightseagreen;
}

.label-heart .medium{
    background-color: lightslategray;
}

.content h3 {
    margin: 7px 0;
    font-size: 17px;
    color: var(--primary-color);
}

.content p {
    font-size: 12px;
    color: var(--text-color);
}

.label-star {
    margin: 7px 0;
}

.label-star small {
    margin-left: 10px;
}

.card-footer {
    margin-top: 7px;
}
.card-footer i{
    font-size: 15px;
}


.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.btn-top {
    position: fixed;
    background-color: var(--secondary-color);
    padding: 10px 15px;
    bottom: 10px;
    right: 20px;
    border-radius: 100%;
}

.btn-top i {
    font-size: 20px;
}

/* footer style */

footer {
    background-color: var(--primary-color);
    color: var(--primary-color);
}
.footer-container{
    width: 100%;
    margin-top: 20px;
}
.social-icon{
    display: flex;
    justify-content: center;
}

.social-icon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-icon i{
    font-size: 25px;;
    opacity: 0.7;
}

.social-icon a:hover{
    background-color: black;
    color: white;
    opacity: 1;
}

.social-icon i:hover{
    color: white;
    opacity: 1;
}

.footer-nav{
    margin: 20px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    opacity: 0.7;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

.footer-bottom{
    background-color: var(--secondary-color);
    color: rgb(27, 10, 10);
    text-align: center;
    padding: 10px 0;
}
.footer-bottom p{
    font-size: 15px;
}

.footer-bottom, .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

